body {
  font-family: Arial, sans-serif;
  background-color: #e0ffe0;
  background-image: url('background.jpg');
  background-size: cover;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #4caf50;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.table {
  width: 45%; /* Adjust width for 2 tables in a row */
  border: 1px solid #4caf50;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.table h2 {
  text-align: center;
  color: #4caf50;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.place {
  width: 40px;
  height: 40px;
  border: 2px dashed #4caf50;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable-plant {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #4caf50;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-button {
  margin-left: 10px;
  cursor: pointer;
  background-color: #ff7043;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 2px 5px;
}

.plantSelect {
  width: 100%;
  padding: 5px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  text-align: center;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}